In [1]:
# Importing dependencies

import pandas as pd
import datetime

In [2]:
# Seclecting only data from 2009 due to the size of the dataset
nine_df = pd.read_csv('Resources/CSV/2009.csv')

In [3]:
# nine_df.head()
nine_df.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [4]:
# Get a list of all of the carriers in the dataset
carriers_list = []
for carrier in nine_df['OP_CARRIER']:
    if carrier not in carriers_list:
        carriers_list.append(carrier)
        
print(carriers_list)

['OO', 'YV', 'OH', '9E', 'EV', 'MQ', 'WN', 'XE', 'AA', 'F9', 'US', 'DL', 'FL', 'B6', 'CO', 'NW', 'UA', 'AS', 'HA']

In [5]:
# Dropping columns that do not provide required or useful information
# Columns:
# CRS_DEP_TIME, DEP_TIME, DEP_DELAY, TAXI_OUT, WHEELS_OFF, TAXI_IN, CRS_ARR_TIME, ARR_TIME,
# CANCELLED, CANCELLATION_CODE, DIVERTED, CRS_ELAPSED_TIME, ACTUAL_ELAPSED_TIME, AIR_TIME, DISTANCE, CARRIER_DELAY,
# WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY


nine_dropped_df = nine_df[['FL_DATE',
                           'OP_CARRIER',
                           'OP_CARRIER_FL_NUM',
                           'ORIGIN',
                           'DEST',
                           'ARR_DELAY']]

In [6]:
# Only keeping OO, SkyWest Airlines, due to the size of the data

oo_df = nine_dropped_df.loc[nine_dropped_df['OP_CARRIER'] == 'OO']
oo_df.head()

    FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST  ARR_DELAY
0  01-01-09         OO               7829    TWF  SLC       18.0
1  02-01-09         OO               7829    TWF  SLC        8.0
2  03-01-09         OO               7829    SUN  SLC       96.0
3  04-01-09         OO               7829    SUN  SLC       29.0
4  01-01-09         OO               7828    SLC  SUN        NaN

In [7]:
# Checking data for NaNs

oo_df.isna().sum()

FL_DATE                 0
OP_CARRIER              0
OP_CARRIER_FL_NUM       0
ORIGIN                  0
DEST                    0
ARR_DELAY            2492
dtype: int64

In [8]:
# Dropping all flights that have a NaN

oo_df.dropna(inplace=True)

C:\Users\maxke\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
# Converting flight date to day of the week in order to convert to the weekday name
# monday:0, tuesday:1, wednesday:2, thursday:3, friday:4, saturday:5, sunday:6

oo_df['WEEKDAY'] = oo_df['FL_DATE'].apply(lambda x: datetime.datetime.strptime(x, "%d-%m-%y").weekday())

C:\Users\maxke\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
oo_df.head()

    FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST  ARR_DELAY  WEEKDAY
0  01-01-09         OO               7829    TWF  SLC       18.0        3
1  02-01-09         OO               7829    TWF  SLC        8.0        4
2  03-01-09         OO               7829    SUN  SLC       96.0        5
3  04-01-09         OO               7829    SUN  SLC       29.0        6
6  03-01-09         OO               7828    SLC  SUN       85.0        5

In [11]:
# Encoding flight status
# delayed:0, on_time:1, early:2


oo_df.loc[oo_df['ARR_DELAY'] > 0, 'flight_status'] = 0
oo_df.loc[oo_df['ARR_DELAY'] == 0, 'flight_status'] = 1
oo_df.loc[oo_df['ARR_DELAY'] < 0, 'flight_status'] = 2

C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [12]:
#Replacing original ARR_Delay column with encoded flight_status column

oo_df.drop(['ARR_DELAY'], axis=1, inplace=True)

C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\frame.py:4164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
oo_df.head()

    FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST  WEEKDAY  flight_status
0  01-01-09         OO               7829    TWF  SLC        3            0.0
1  02-01-09         OO               7829    TWF  SLC        4            0.0
2  03-01-09         OO               7829    SUN  SLC        5            0.0
3  04-01-09         OO               7829    SUN  SLC        6            0.0
6  03-01-09         OO               7828    SLC  SUN        5            0.0

In [15]:
# Replacing FL_Date with WEEKDAY and dropping OP_Carrier because it is no longer needed

cleaned_oo_df = oo_df.drop(['FL_DATE'], axis=1, inplace=False)
cleaned_oo_df = cleaned_oo_df.drop(['OP_CARRIER'], axis=1, inplace=False)

In [16]:
cleaned_oo_df.head()

   OP_CARRIER_FL_NUM ORIGIN DEST  WEEKDAY  flight_status
0               7829    TWF  SLC        3            0.0
1               7829    TWF  SLC        4            0.0
2               7829    SUN  SLC        5            0.0
3               7829    SUN  SLC        6            0.0
6               7828    SLC  SUN        5            0.0

In [17]:
# Renaming data columns to match database table

cleaned_oo_df = cleaned_oo_df.rename(columns={"OP_CARRIER_FL_NUM":
                                              "fl_num",
                                              "ORIGIN":
                                              "origin",
                                              "DEST":
                                              "dest",
                                              "WEEKDAY":
                                              "weekday"})

In [18]:
cleaned_oo_df.head()

   fl_num origin dest  weekday  flight_status
0    7829    TWF  SLC        3            0.0
1    7829    TWF  SLC        4            0.0
2    7829    SUN  SLC        5            0.0
3    7829    SUN  SLC        6            0.0
6    7828    SLC  SUN        5            0.0

In [19]:
# Creating a list of unique airport callsigns with enumerated airport id

unique_airport_list = list(set(cleaned_oo_df['origin'].values).union(set(cleaned_oo_df['dest'].values)))
airport_update = {e: i for i, e in enumerate(unique_airport_list)}

In [43]:
# Adding updated airport list and id to cleaned_oo_df and checking data types and NaNs

flight_data = cleaned_oo_df.replace(airport_update)
flight_data = flight_data.dropna()

# Reseting index to match postgres table and dropping original index

flight_data.reset_index(inplace=True)
flight_data['flight_id'] = flight_data['index']
flight_data = flight_data.drop('index', axis=1)

(   fl_num  origin  dest  weekday  flight_status
 0    7829     135    35        3            0.0
 1    7829     135    35        4            0.0
 2    7829     128    35        5            0.0
 3    7829     128    35        6            0.0
 6    7828      35   128        5            0.0,
 fl_num           0
 origin           0
 dest             0
 weekday          0
 flight_status    0
 dtype: int64,
 fl_num             int64
 origin             int64
 dest               int64
 weekday            int64
 flight_status    float64
 dtype: object)

In [21]:
# Creating the airports dataframe and reseting the index

airports = pd.DataFrame.from_dict(airport_update, orient='index').reset_index()
airports = airports.rename(columns={"index": "airport", 0: "airport_id"})
airports.head()

  airport  airport_id
0     OTH           0
1     EKO           1
2     CEC           2
3     RKS           3
4     MKE           4

In [22]:
# Saving the cleaned dataframe to a zipped CSV file
cleaned_oo_df.to_csv('C:/Users/maxke/Documents/programming/data_analysis/UCB_Data_analytics/Pandas-Project/Resources/CSV/cleaned_oo_data.zip',
                     index=False,
                    compression='zip')

In [23]:
# Creating flight status dataframe with id for flight_status Postgres table

flight_status = pd.DataFrame({'flight_status': ['early',
                                                'delayed',
                                                'on_time'],
                              'flight_status_id': [2, 0, 1]})
flight_status

  flight_status  flight_status_id
0         early                 2
1       delayed                 0
2       on_time                 1

In [24]:
# Creating flight status dataframe with id for days_of_the_week Postgres table

days_of_the_week = pd.DataFrame({'weekday': ['monday',
                                             'tuesday',
                                             'wednesday',
                                             'thursday',
                                             'friday',
                                             'saturday',
                                             'sunday'],
                                 'weekday_id': range(7)})
days_of_the_week

     weekday  weekday_id
0     monday           0
1    tuesday           1
2  wednesday           2
3   thursday           3
4     friday           4
5   saturday           5
6     sunday           6

In [25]:
# Inputing settings for sqlalchemy connection with postgres

protocol = "postgres"
user = "postgres"
password = "0UyJ3HQUDBTs*1^4FnqX"
location = "localhost"
port = "5432"
database = "flight_delays"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

postgres://postgres:0UyJ3HQUDBTs*1^4FnqX@localhost:5432/flight_delays

In [26]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine(connection_string)

In [28]:
# Writing dataframes to postgres tables

days_of_the_week.to_sql('days_of_the_week', engine, if_exists = 'append', index=False)

flight_status.to_sql('flight_status', engine, if_exists = 'append', index=False)

airports.to_sql('airports', engine, if_exists = 'append', index=False)

flight_data.to_sql('flight_data', engine, if_exists = 'append', index=False)