In [147]:
import pandas as pd

In [148]:
nine_df = pd.read_csv('Resources/CSV/2009.csv')

In [149]:
nine_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,01-01-09,OO,7829,TWF,SLC,1224,1259.0,35.0,7.0,1306.0,...,62,45.0,33.0,175,0.0,18.0,0.0,0.0,0.0,NaN
1,02-01-09,OO,7829,TWF,SLC,1224,1240.0,16.0,13.0,1253.0,...,62,54.0,37.0,175,NaN,NaN,NaN,NaN,NaN,NaN
2,03-01-09,OO,7829,SUN,SLC,1224,1350.0,86.0,19.0,1409.0,...,62,72.0,46.0,223,1.0,0.0,10.0,0.0,85.0,NaN
3,04-01-09,OO,7829,SUN,SLC,1224,1232.0,8.0,25.0,1257.0,...,62,83.0,53.0,223,8.0,0.0,21.0,0.0,0.0,NaN
4,01-01-09,OO,7828,SLC,SUN,1050,1045.0,-5.0,12.0,1057.0,...,75,NaN,NaN,223,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
carriers_list = []
for carrier in nine_df['OP_CARRIER']:
    if carrier not in carriers_list:
        carriers_list.append(carrier)
        
print(carriers_list)

['OO', 'YV', 'OH', '9E', 'EV', 'MQ', 'WN', 'XE', 'AA', 'F9', 'US', 'DL', 'FL', 'B6', 'CO', 'NW', 'UA', 'AS', 'HA']

In [151]:
# Drop Columns
nine_dropped_df = nine_df[['FL_DATE',
                           'OP_CARRIER',
                           'OP_CARRIER_FL_NUM',
                           'ORIGIN',
                           'DEST',
                           'ARR_DELAY']]

In [152]:
oo_df = nine_dropped_df.loc[nine_dropped_df['OP_CARRIER'] == 'OO']
oo_df.head()

    FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST  ARR_DELAY
0  01-01-09         OO               7829    TWF  SLC       18.0
1  02-01-09         OO               7829    TWF  SLC        8.0
2  03-01-09         OO               7829    SUN  SLC       96.0
3  04-01-09         OO               7829    SUN  SLC       29.0
4  01-01-09         OO               7828    SLC  SUN        NaN

In [153]:
oo_df.isna().sum()

FL_DATE                 0
OP_CARRIER              0
OP_CARRIER_FL_NUM       0
ORIGIN                  0
DEST                    0
ARR_DELAY            2492
dtype: int64

In [154]:
oo_df.dropna(inplace=True)

C:\Users\maxke\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [155]:
#oo_df
#pandas.Timestamp.dayofweek
import datetime
oo_df['WEEKDAY'] = oo_df['FL_DATE'].apply(lambda x: datetime.datetime.strptime(x, "%d-%m-%y").weekday())

C:\Users\maxke\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [156]:
oo_df

         FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST  ARR_DELAY  WEEKDAY
0       01-01-09         OO               7829    TWF  SLC       18.0        3
1       02-01-09         OO               7829    TWF  SLC        8.0        4
2       03-01-09         OO               7829    SUN  SLC       96.0        5
3       04-01-09         OO               7829    SUN  SLC       29.0        6
6       03-01-09         OO               7828    SLC  SUN       85.0        5
...          ...        ...                ...    ...  ...        ...      ...
328281  23-02-09         OO               2522    MKE  PIT       17.0        0
328282  24-02-09         OO               2522    MKE  PIT        6.0        1
328287  25-02-09         OO               2522    MKE  PIT       -4.0        2
328288  26-02-09         OO               2522    MKE  PIT        3.0        3
328293  27-02-09         OO               2522    MKE  PIT       59.0        4

[86359 rows x 7 columns]

In [157]:
oo_df.loc[oo_df['ARR_DELAY'] > 0, 'flight_status'] = 'delayed'
oo_df.loc[oo_df['ARR_DELAY'] == 0, 'flight_status'] = 'on_time'
oo_df.loc[oo_df['ARR_DELAY'] < 0, 'flight_status'] = 'early'

C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [158]:
oo_df.drop(['ARR_DELAY'], axis=1, inplace=True)

C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [159]:
oo_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,WEEKDAY,flight_status
0,01-01-09,OO,7829,TWF,SLC,3,delayed
1,02-01-09,OO,7829,TWF,SLC,4,delayed
2,03-01-09,OO,7829,SUN,SLC,5,delayed
3,04-01-09,OO,7829,SUN,SLC,6,delayed
6,03-01-09,OO,7828,SLC,SUN,5,delayed
...,...,...,...,...,...,...,...
328281,23-02-09,OO,2522,MKE,PIT,0,delayed
328282,24-02-09,OO,2522,MKE,PIT,1,delayed
328287,25-02-09,OO,2522,MKE,PIT,2,early
328288,26-02-09,OO,2522,MKE,PIT,3,delayed
328293,27-02-09,OO,2522,MKE,PIT,4,delayed

In [160]:
# Converting weekday numbers
oo_df.loc[oo_df['WEEKDAY'] == 0, 'Weekday'] = 'Monday'
oo_df.loc[oo_df['WEEKDAY'] == 1, 'Weekday'] = 'Tuesday'
oo_df.loc[oo_df['WEEKDAY'] == 2, 'Weekday'] = 'Wednesday'
oo_df.loc[oo_df['WEEKDAY'] == 3, 'Weekday'] = 'Thursday'
oo_df.loc[oo_df['WEEKDAY'] == 4, 'Weekday'] = 'Friday'
oo_df.loc[oo_df['WEEKDAY'] == 5, 'Weekday'] = 'Saturday'
oo_df.loc[oo_df['WEEKDAY'] == 6, 'Weekday'] = 'Sunday'

C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [161]:
cleaned_oo_df = oo_df.drop(['WEEKDAY'], axis=1, inplace=False)
cleaned_oo_df = cleaned_oo_df.drop(['FL_DATE'], axis=1, inplace=False)

In [162]:
cleaned_oo_df.reset_index()

,index,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,flight_status,Weekday
0,0,OO,7829,TWF,SLC,delayed,Thursday
1,1,OO,7829,TWF,SLC,delayed,Friday
2,2,OO,7829,SUN,SLC,delayed,Saturday
3,3,OO,7829,SUN,SLC,delayed,Sunday
4,6,OO,7828,SLC,SUN,delayed,Saturday
...,...,...,...,...,...,...,...
86354,328281,OO,2522,MKE,PIT,delayed,Monday
86355,328282,OO,2522,MKE,PIT,delayed,Tuesday
86356,328287,OO,2522,MKE,PIT,early,Wednesday
86357,328288,OO,2522,MKE,PIT,delayed,Thursday
86358,328293,OO,2522,MKE,PIT,delayed,Friday

In [163]:
cleaned_oo_df.to_csv('C:/Users/maxke/Documents/programming/data_analysis/UCB_Data_analytics/Pandas-Project/Resources/CSV/cleaned_oo_data.csv', index=False)