In [1]:
import pandas as pd

In [2]:
nine_df = pd.read_csv('Resources/CSV/2009.csv')

In [3]:
nine_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,01-01-09,OO,7829,TWF,SLC,1224,1259.0,35.0,7.0,1306.0,...,62,45.0,33.0,175,0.0,18.0,0.0,0.0,0.0,NaN
1,02-01-09,OO,7829,TWF,SLC,1224,1240.0,16.0,13.0,1253.0,...,62,54.0,37.0,175,NaN,NaN,NaN,NaN,NaN,NaN
2,03-01-09,OO,7829,SUN,SLC,1224,1350.0,86.0,19.0,1409.0,...,62,72.0,46.0,223,1.0,0.0,10.0,0.0,85.0,NaN
3,04-01-09,OO,7829,SUN,SLC,1224,1232.0,8.0,25.0,1257.0,...,62,83.0,53.0,223,8.0,0.0,21.0,0.0,0.0,NaN
4,01-01-09,OO,7828,SLC,SUN,1050,1045.0,-5.0,12.0,1057.0,...,75,NaN,NaN,223,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Get a list of all of the carriers in the dataset
carriers_list = []
for carrier in nine_df['OP_CARRIER']:
    if carrier not in carriers_list:
        carriers_list.append(carrier)
        
print(carriers_list)

['OO', 'YV', 'OH', '9E', 'EV', 'MQ', 'WN', 'XE', 'AA', 'F9', 'US', 'DL', 'FL', 'B6', 'CO', 'NW', 'UA', 'AS', 'HA']

In [5]:
# Drop Columns
nine_dropped_df = nine_df[['FL_DATE',
                           'OP_CARRIER',
                           'OP_CARRIER_FL_NUM',
                           'ORIGIN',
                           'DEST',
                           'ARR_DELAY']]

In [6]:
# We want to only keep OO
oo_df = nine_dropped_df.loc[nine_dropped_df['OP_CARRIER'] == 'OO']
oo_df.head()

    FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST  ARR_DELAY
0  01-01-09         OO               7829    TWF  SLC       18.0
1  02-01-09         OO               7829    TWF  SLC        8.0
2  03-01-09         OO               7829    SUN  SLC       96.0
3  04-01-09         OO               7829    SUN  SLC       29.0
4  01-01-09         OO               7828    SLC  SUN        NaN

In [7]:
oo_df.isna().sum()

FL_DATE                 0
OP_CARRIER              0
OP_CARRIER_FL_NUM       0
ORIGIN                  0
DEST                    0
ARR_DELAY            2492
dtype: int64

In [8]:
oo_df.dropna(inplace=True)

C:\Users\maxke\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
#oo_df
#pandas.Timestamp.dayofweek
import datetime
oo_df['WEEKDAY'] = oo_df['FL_DATE'].apply(lambda x: datetime.datetime.strptime(x, "%d-%m-%y").weekday())

C:\Users\maxke\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
oo_df.head()

    FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST  ARR_DELAY  WEEKDAY
0  01-01-09         OO               7829    TWF  SLC       18.0        3
1  02-01-09         OO               7829    TWF  SLC        8.0        4
2  03-01-09         OO               7829    SUN  SLC       96.0        5
3  04-01-09         OO               7829    SUN  SLC       29.0        6
6  03-01-09         OO               7828    SLC  SUN       85.0        5

In [11]:
oo_df.loc[oo_df['ARR_DELAY'] > 0, 'flight_status'] = 0 #Delayed
oo_df.loc[oo_df['ARR_DELAY'] == 0, 'flight_status'] = 1 #on_time
oo_df.loc[oo_df['ARR_DELAY'] < 0, 'flight_status'] = 2 #early

C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [12]:
oo_df.drop(['ARR_DELAY'], axis=1, inplace=True)

C:\Users\maxke\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
oo_df.head()

    FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST  WEEKDAY  flight_status
0  01-01-09         OO               7829    TWF  SLC        3            0.0
1  02-01-09         OO               7829    TWF  SLC        4            0.0
2  03-01-09         OO               7829    SUN  SLC        5            0.0
3  04-01-09         OO               7829    SUN  SLC        6            0.0
6  03-01-09         OO               7828    SLC  SUN        5            0.0

In [14]:
# Converting weekday numbers

#oo_df.loc[oo_df['WEEKDAY'] == 0, 'Weekday'] = 'Monday'
#oo_df.loc[oo_df['WEEKDAY'] == 1, 'Weekday'] = 'Tuesday'
#oo_df.loc[oo_df['WEEKDAY'] == 2, 'Weekday'] = 'Wednesday'
#oo_df.loc[oo_df['WEEKDAY'] == 3, 'Weekday'] = 'Thursday'
#oo_df.loc[oo_df['WEEKDAY'] == 4, 'Weekday'] = 'Friday'
#oo_df.loc[oo_df['WEEKDAY'] == 5, 'Weekday'] = 'Saturday'
#oo_df.loc[oo_df['WEEKDAY'] == 6, 'Weekday'] = 'Sunday'

In [18]:
#cleaned_oo_df = oo_df.drop(['WEEKDAY'], axis=1, inplace=False)
cleaned_oo_df = oo_df.drop(['FL_DATE'], axis=1, inplace=False)
cleaned_oo_df = cleaned_oo_df.drop(['OP_CARRIER'], axis=1, inplace=False)

In [19]:
#cleaned_oo_df.reset_index()
cleaned_oo_df.head()

   OP_CARRIER_FL_NUM ORIGIN DEST  WEEKDAY  flight_status
0               7829    TWF  SLC        3            0.0
1               7829    TWF  SLC        4            0.0
2               7829    SUN  SLC        5            0.0
3               7829    SUN  SLC        6            0.0
6               7828    SLC  SUN        5            0.0

In [21]:
cleaned_oo_df = cleaned_oo_df.rename(columns={"OP_CARRIER_FL_NUM": "fl_num", "ORIGIN": "origin", "DEST": "dest", "WEEKDAY": "weekday"})

In [34]:
cleaned_oo_df.head()

   fl_num origin dest  weekday  flight_status
0    7829    TWF  SLC        3            0.0
1    7829    TWF  SLC        4            0.0
2    7829    SUN  SLC        5            0.0
3    7829    SUN  SLC        6            0.0
6    7828    SLC  SUN        5            0.0

In [40]:
unique_airport_list = list(set(cleaned_oo_df['origin'].values).union(set(cleaned_oo_df['dest'].values)))
airport_update = {e: i for i, e in enumerate(unique_airport_list)}

In [79]:
flight_data = cleaned_oo_df.replace(airport_update)
flight_data = flight_data.dropna()
# flight_data.dtypes
# flight_data.count()
flight_data.head()

   fl_num  origin  dest  weekday  flight_status
0    7829      17   134        3            0.0
1    7829      17   134        4            0.0
2    7829       0   134        5            0.0
3    7829       0   134        6            0.0
6    7828     134     0        5            0.0

In [61]:
airports = pd.DataFrame.from_dict(airport_update, orient='index').reset_index()
airports = airports.rename(columns={"index": "airport", 0: "airport_id"})
airports.head()

  airport  airport_id
0     SUN           0
1     ONT           1
2     LAX           2
3     STL           3
4     SDF           4

In [ ]:
cleaned_oo_df.to_csv('C:/Users/maxke/Documents/programming/data_analysis/UCB_Data_analytics/Pandas-Project/Resources/CSV/cleaned_oo_data.csv', index=False)

# TODO:
1. -Drop index-
2. -drop OP_carrier-
3. -rename columns to format below-
4. -find all unique airports in origin and dest and update them with unique ids-

Table 1 (flight_data):

fl_num | origin     | dest       | flight_status    | weekday
# from the table  | airport_id | airport_id | flight_status_id | weekday_id

Table 2(airports):
arport | airport_id

Table 3 (flight_status)
flight_status |  flight_status_id
early   | 2
delayed | 0
on_time | 1

Table 4 (days_of_the_week)
weekday   | weekday_id
monday    | 0
tuesday   | 1
wednesday | 2
thursday  | 3
friday    | 4
saturday  | 5
sunday    | 6

In [62]:
flight_status = pd.DataFrame({'flight_status': ['early', 'delayed', 'on_time'], 'flight_status_id': [2, 0, 1]})
flight_status

  flight_status  flight_status_id
0         early                 2
1       delayed                 0
2       on_time                 1

In [64]:
days_of_the_week = pd.DataFrame({'weekday': ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'], 'weekday_id': range(7)})
days_of_the_week

     weekday  weekday_id
0     monday           0
1    tuesday           1
2  wednesday           2
3   thursday           3
4     friday           4
5   saturday           5
6     sunday           6

In [65]:
protocol = "postgres"
user = "postgres"
password = "0UyJ3HQUDBTs*1^4FnqX"
location = "localhost"
port = "5432"
database = "flight_delays"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

postgres://postgres:0UyJ3HQUDBTs*1^4FnqX@localhost:5432/flight_delays

In [66]:
from sqlalchemy import create_engine

In [67]:
engine = create_engine(connection_string)

In [70]:
days_of_the_week.to_sql('days_of_the_week', engine, if_exists = 'append', index=False)

In [72]:
flight_status.to_sql('flight_status', engine, if_exists = 'append', index=False)

In [73]:
airports.to_sql('airports', engine, if_exists = 'append', index=False)

In [76]:
flight_data.to_sql('flight_data', engine, if_exists = 'append', index=False)

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "flight_id" violates not-null constraint
DETAIL:  Failing row contains (null, 7829, 17, 134, 0, 3).

[SQL: INSERT INTO flight_data (fl_num, origin, dest, weekday, flight_status) VALUES (%(fl_num)s, %(origin)s, %(dest)s, %(weekday)s, %(flight_status)s)]
[parameters: ({'fl_num': 7829, 'origin': 17, 'dest': 134, 'weekday': 3, 'flight_status': 0.0}, {'fl_num': 7829, 'origin': 17, 'dest': 134, 'weekday': 4, 'flight_status': 0.0}, {'fl_num': 7829, 'origin': 0, 'dest': 134, 'weekday': 5, 'flight_status': 0.0}, {'fl_num': 7829, 'origin': 0, 'dest': 134, 'weekday': 6, 'flight_status': 0.0}, {'fl_num': 7828, 'origin': 134, 'dest': 0, 'weekday': 5, 'flight_status': 0.0}, {'fl_num': 7828, 'origin': 134, 'dest': 0, 'weekday': 6, 'flight_status': 2.0}, {'fl_num': 7826, 'origin': 134, 'dest': 0, 'weekday': 4, 'flight_status': 2.0}, {'fl_num': 7826, 'origin': 0, 'dest': 134, 'weekday': 4, 'flight_status': 0.0}  ... displaying 10 of 86359 total bound parameter sets ...  {'fl_num': 2522, 'origin': 92, 'dest': 104, 'weekday': 3, 'flight_status': 0.0}, {'fl_num': 2522, 'origin': 92, 'dest': 104, 'weekday': 4, 'flight_status': 0.0})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)