In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sqlalchemy import create_engine

In [2]:
protocol = "postgres"
user = "postgres"
password = "0UyJ3HQUDBTs*1^4FnqX"
location = "localhost"
port = "5432"
database = "flight_delays"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

postgres://postgres:0UyJ3HQUDBTs*1^4FnqX@localhost:5432/flight_delays

In [3]:
engine = create_engine(connection_string)

In [4]:
df = pd.read_sql("SELECT * FROM flight_data", engine)

In [5]:
df

       flight_id  fl_num  origin  dest  flight_status  weekday
0              0    7829     135    35              0        3
1              1    7829     135    35              0        4
2              2    7829     128    35              0        5
3              3    7829     128    35              0        6
4              6    7828      35   128              0        5
...          ...     ...     ...   ...            ...      ...
86354     328281    2522       4    45              0        0
86355     328282    2522       4    45              0        1
86356     328287    2522       4    45              2        2
86357     328288    2522       4    45              0        3
86358     328293    2522       4    45              0        4

[86359 rows x 6 columns]

In [6]:
#oo_airlines_df = pd.read_csv('Resources/CSV/cleaned_oo_data.csv')
#oo_airlines_df.head()

In [24]:
# Define feature and target sets
X = df
X = X.drop("flight_status", axis=1)
y = df["flight_status"].ravel()

In [25]:
X = pd.get_dummies(X[['weekday', 'fl_num']].astype(str))

In [26]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [27]:
X_train

,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,fl_num_2522,fl_num_2523,fl_num_2526,...,fl_num_7803,fl_num_7804,fl_num_7811,fl_num_7813,fl_num_7814,fl_num_7815,fl_num_7816,fl_num_7826,fl_num_7828,fl_num_7829
54848,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39013,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63996,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19624,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17623,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21440,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73349,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50057,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5192,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77708,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=64, random_state=1)

In [30]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [31]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [69]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["on_time 1", "early 1", 'late 2'], columns=["Predicted on_time 1", "Predicted early 1", "Predicted late 2"])

cm_df

           Predicted on_time 1  Predicted early 1  Predicted late 2
on_time 1                 3223               4717                40
early 1                   3355               9683                56
late 2                     195                316                 5

In [32]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

#orign, dest, weekday, fl_num: 0.5987031032885595

0.608105604446503

In [71]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

           Predicted on_time 1  Predicted early 1  Predicted late 2
on_time 1                 3223               4717                40
early 1                   3355               9683                56
late 2                     195                316                 5

Accuracy Score : 0.598008337193145
Classification Report
              precision    recall  f1-score   support

     delayed       0.48      0.40      0.44      7980
       early       0.66      0.74      0.70     13094
     on_time       0.05      0.01      0.02       516

    accuracy                           0.60     21590
   macro avg       0.39      0.38      0.38     21590
weighted avg       0.58      0.60      0.58     21590

In [21]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([7.05441154e-04, 3.71613720e-04, 1.18142641e-03, ...,
       9.83135289e-05, 8.88131930e-06, 2.35217875e-04])

In [73]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.5398665650039247, 'OP_CARRIER_FL_NUM'),
 (0.01730215850406031, 'Weekday_Saturday'),
 (0.015816288404367513, 'Weekday_Monday'),
 (0.01581114379342105, 'Weekday_Sunday'),
 (0.015775522343650823, 'Weekday_Friday'),
 (0.013381649163395319, 'Weekday_Tuesday'),
 (0.01281499028530522, 'Weekday_Wednesday'),
 (0.012783040463743324, 'ORIGIN_LAX'),
 (0.011710190343425598, 'Weekday_Thursday'),
 (0.010153463776248808, 'ORIGIN_SFO'),
 (0.007092123885498744, 'DEST_LAX'),
 (0.006979989189907674, 'DEST_SFO'),
 (0.006579294124920651, 'DEST_SLC'),
 (0.005798113560497009, 'ORIGIN_ORD'),
 (0.005726601151328289, 'ORIGIN_SLC'),
 (0.005077199848930965, 'ORIGIN_ATL'),
 (0.004464547088748743, 'DEST_ORD'),
 (0.004116107456953005, 'ORIGIN_DEN'),
 (0.00374220826278664, 'DEST_SAT'),
 (0.003730329211358723, 'ORIGIN_DFW'),
 (0.0036998124442764488, 'DEST_DEN'),
 (0.003320120219658333, 'ORIGIN_SAT'),
 (0.0031312744310490396, 'DEST_COS'),
 (0.0031125838604122414, 'ORIGIN_ASE'),
 (0.002916026741117206, 'ORIGIN_MSP'),
 (0.0028365723283300475, 'ORIGIN_BOI'),
 (0.0028184660231900184, 'ORIGIN_MKE'),
 (0.002780286355237397, 'DEST_ASE'),
 (0.0027467085428954214, 'ORIGIN_COS'),
 (0.0027221133433628073, 'ORIGIN_FAT'),
 (0.002654365354641179, 'DEST_BOI'),
 (0.0026337989606438445, 'ORIGIN_PDX'),
 (0.002442712050803294, 'DEST_BZN'),
 (0.002341164725669585, 'ORIGIN_IAH'),
 (0.0023158243434705963, 'DEST_MKE'),
 (0.002273180126483838, 'DEST_PDX'),
 (0.0022589231171412506, 'ORIGIN_ABQ'),
 (0.0022411899857606083, 'ORIGIN_SBA'),
 (0.002224109171737266, 'DEST_MSP'),
 (0.0021484843631436224, 'ORIGIN_SEA'),
 (0.0021203072193456433, 'DEST_FAT'),
 (0.002117291932940411, 'ORIGIN_TUS'),
 (0.002107641516412323, 'ORIGIN_BZN'),
 (0.0021020128090454343, 'DEST_DSM'),
 (0.0020912727897044723, 'DEST_SBA'),
 (0.002032564883641448, 'DEST_PSP'),
 (0.0020185539390772935, 'ORIGIN_SAN'),
 (0.0019430146986107644, 'ORIGIN_PSP'),
 (0.0019075660378749567, 'DEST_IAH'),
 (0.0018814047443518394, 'ORIGIN_BUR'),
 (0.0018709345941948946, 'DEST_OMA'),
 (0.0018485806358926277, 'DEST_TUS'),
 (0.0018366463482318745, 'DEST_ATL'),
 (0.0018080127173010503, 'DEST_BNA'),
 (0.001805934074831143, 'DEST_GJT'),
 (0.0018019230085022445, 'DEST_ABQ'),
 (0.001800536028433521, 'ORIGIN_MFR'),
 (0.0017939686724497061, 'ORIGIN_DSM'),
 (0.0017389997389023113, 'ORIGIN_GJT'),
 (0.0017389424504775943, 'DEST_OKC'),
 (0.0017264182482408976, 'DEST_SMF'),
 (0.0017262134338632625, 'DEST_MFR'),
 (0.0017243033772717273, 'DEST_MEM'),
 (0.0016792704868414483, 'ORIGIN_OKC'),
 (0.0016664641247306359, 'ORIGIN_SMF'),
 (0.0016341405672758006, 'ORIGIN_AUS'),
 (0.0016273338006107362, 'ORIGIN_EUG'),
 (0.0016093970038974698, 'DEST_ONT'),
 (0.0016068875936829706, 'DEST_CLE'),
 (0.0015847409999056625, 'DEST_EUG'),
 (0.0015707376585175291, 'ORIGIN_MRY'),
 (0.0015698235332990663, 'ORIGIN_CVG'),
 (0.0015505937614368394, 'DEST_DFW'),
 (0.0015305293779248558, 'ORIGIN_MEM'),
 (0.0014999150330718435, 'ORIGIN_BNA'),
 (0.0014924759340123885, 'DEST_BUR'),
 (0.0014914041615241632, 'ORIGIN_RDM'),
 (0.0014845589701917435, 'DEST_LNK'),
 (0.0014722228047216806, 'ORIGIN_TUL'),
 (0.0014654918668723076, 'DEST_DTW'),
 (0.0014628129654674098, 'ORIGIN_ACV'),
 (0.0014377988779496723, 'DEST_SEA'),
 (0.0014069209018833782, 'ORIGIN_IND'),
 (0.001374562344021738, 'ORIGIN_OMA'),
 (0.0013690900597054603, 'ORIGIN_MSN'),
 (0.0013655708532897236, 'ORIGIN_FAR'),
 (0.0013635840155848543, 'DEST_MRY'),
 (0.0013592236754947145, 'DEST_MSN'),
 (0.0013366919242114128, 'ORIGIN_SJC'),
 (0.0013264022528287856, 'ORIGIN_BFL'),
 (0.0012962987021168744, 'DEST_AUS'),
 (0.001294436871616589, 'DEST_BIL'),
 (0.0012807636877222384, 'DEST_CVG'),
 (0.001278698949020902, 'DEST_PHX'),
 (0.0012758699802226997, 'ORIGIN_RAP'),
 (0.0012753515056810332, 'ORIGIN_LAS'),
 (0.001265180508437275, 'ORIGIN_CLE'),
 (0.0012611591540899892, 'ORIGIN_SGU'),
 (0.0012602878758423558, 'DEST_LAS'),
 (0.0012436725650092127, 'ORIGIN_MSO'),
 (0.0012427567124318455, 'DEST_MSO'),
 (0.0012324527808747303, 'ORIGIN_GEG'),
 (0.0012299096652269247, 'ORIGIN_IDA'),
 (0.0012265070188275597, 'DEST_ACV'),
 (0.001220310726182202, 'ORIGIN_LNK'),
 (0.0012188545185846736, 'DEST_RAP'),
 (0.0012163357300210237, 'ORIGIN_OTH'),
 (0.0011963587817754614, 'DEST_GEG'),
 (0.001176927954544449, 'ORIGIN_CID'),
 (0.001168543873625173, 'ORIGIN_PIA'),
 (0.0011674316543531466, 'DEST_MTJ'),
 (0.0011642796497080843, 'DEST_PIA'),
 (0.0011578127426105516, 'DEST_TUL'),
 (0.001152383847649387, 'ORIGIN_FSD'),
 (0.0011431625370168807, 'DEST_ATW'),
 (0.0011358519698476213, 'DEST_CID'),
 (0.0011347742342350158, 'ORIGIN_MLI'),
 (0.0011287310610023514, 'ORIGIN_HDN'),
 (0.00112758294047946, 'DEST_SJC'),
 (0.0011189276533343645, 'DEST_FAR'),
 (0.0011093067477095466, 'DEST_RNO'),
 (0.0011068710228878174, 'DEST_SAN'),
 (0.001085423010199477, 'ORIGIN_SGF'),
 (0.0010738095876178767, 'DEST_IDA'),
 (0.001065162074986456, 'ORIGIN_SBP'),
 (0.0010604671818866267, 'DEST_BFL'),
 (0.001052382184288193, 'DEST_FCA'),
 (0.0010511706659397748, 'ORIGIN_DTW'),
 (0.0010507538705838756, 'ORIGIN_STL'),
 (0.0010458228958761442, 'DEST_GTF'),
 (0.0010412451204440455, 'ORIGIN_ATW'),
 (0.0010391594961614318, 'DEST_HDN'),
 (0.0010274571190168969, 'DEST_RDM'),
 (0.0010068112972820482, 'ORIGIN_GRR'),
 (0.0010062989790268837, 'DEST_TYS'),
 (0.000996223397407843, 'DEST_SBP'),
 (0.0009722913058339372, 'ORIGIN_PHX'),
 (0.0009718555762488609, 'ORIGIN_GRB'),
 (0.0009713807397000168, 'ORIGIN_GTF'),
 (0.0009643227727404026, 'ORIGIN_RNO'),
 (0.0009582029784081182, 'DEST_PIT'),
 (0.0009565026633260462, 'DEST_PSC'),
 (0.0009557908574671633, 'DEST_BIS'),
 (0.0009542100960781809, 'ORIGIN_MTJ'),
 (0.0009539733006107226, 'ORIGIN_HLN'),
 (0.000952233854611599, 'ORIGIN_RKS'),
 (0.0009416474681603168, 'DEST_SNA'),
 (0.0009400740712909251, 'DEST_SGF'),
 (0.0009371811473327259, 'ORIGIN_BIL'),
 (0.000933535822292916, 'ORIGIN_LIT'),
 (0.0009312703809411485, 'DEST_FSD'),
 (0.0009303214284729382, 'ORIGIN_BHM'),
 (0.0009233070054750837, 'DEST_IND'),
 (0.0009124190328042047, 'DEST_GRR'),
 (0.0009121730251051141, 'DEST_MLI'),
 (0.00088108618496064, 'DEST_STL'),
 (0.0008702531243147553, 'ORIGIN_GCC'),
 (0.0008664870413851661, 'DEST_MCI'),
 (0.000863997272202153, 'ORIGIN_FCA'),
 (0.0008624129655611196, 'ORIGIN_OAK'),
 (0.0008607371785870662, 'ORIGIN_XNA'),
 (0.0008520493139534021, 'ORIGIN_ICT'),
 (0.0008513021650679107, 'DEST_HLN'),
 (0.0008511649090586689, 'DEST_GRB'),
 (0.0008478469710396471, 'ORIGIN_IYK'),
 (0.0008468196796870018, 'ORIGIN_CHS'),
 (0.0008439862685040023, 'DEST_ICT'),
 (0.0008420567715182418, 'ORIGIN_PSC'),
 (0.0008313240214891526, 'DEST_LIT'),
 (0.0008296551098846384, 'DEST_LGB'),
 (0.0008108111759992148, 'ORIGIN_PIT'),
 (0.000801501519116735, 'ORIGIN_SDF'),
 (0.00078856058706668, 'DEST_XNA'),
 (0.0007738923225701771, 'ORIGIN_CMH'),
 (0.0007729108641680738, 'ORIGIN_ONT'),
 (0.0007653392715606453, 'ORIGIN_DRO'),
 (0.0007627669457688684, 'DEST_BHM'),
 (0.0007585389873035115, 'DEST_ORF'),
 (0.0007467583423183441, 'ORIGIN_ORF'),
 (0.0007459943851840693, 'DEST_GUC'),
 (0.0007398067418364349, 'DEST_SDF'),
 (0.0007374847996040577, 'ORIGIN_CEC'),
 (0.000721296742432047, 'DEST_LMT'),
 (0.0007131451559044481, 'ORIGIN_TYS'),
 (0.0006907267126483, 'ORIGIN_LMT'),
 (0.0006864178185278625, 'ORIGIN_BIS'),
 (0.0006697291877200231, 'ORIGIN_SBN'),
 (0.000669664937495496, 'ORIGIN_JAC'),
 (0.0006648798789594683, 'ORIGIN_CLD'),
 (0.0006534484826491172, 'DEST_JAC'),
 (0.0006492694484404916, 'ORIGIN_SNA'),
 (0.0006334150357971962, 'ORIGIN_ELP'),
 (0.0006307269343194711, 'DEST_SBN'),
 (0.0006288644498851556, 'DEST_OTH'),
 (0.0006234131285179041, 'DEST_SGU'),
 (0.0006214707460087113, 'DEST_CIC'),
 (0.0006178213452925286, 'DEST_HSV'),
 (0.0005890614914256456, 'ORIGIN_AVP'),
 (0.000587478942581705, 'ORIGIN_GUC'),
 (0.0005780775243131855, 'DEST_RKS'),
 (0.0005768981823777381, 'DEST_HOU'),
 (0.0005716063154032753, 'ORIGIN_LEX'),
 (0.0005596484715877979, 'ORIGIN_MCI'),
 (0.0005585745038638094, 'DEST_CHS'),
 (0.0005566643889949436, 'ORIGIN_LAN'),
 (0.0005544210710675562, 'DEST_LEX'),
 (0.0005540154775503486, 'ORIGIN_LWS'),
 (0.0005539402060702784, 'DEST_COD'),
 (0.0005538153038009717, 'ORIGIN_CRW'),
 (0.0005534914087641878, 'DEST_CRW'),
 (0.0005519773982005484, 'DEST_OAK'),
 (0.0005473064516770754, 'ORIGIN_PIH'),
 (0.0005427427623972633, 'DEST_DAY'),
 (0.0005405782428119847, 'DEST_MBS'),
 (0.0005373512152102367, 'DEST_DRO'),
 (0.0005334139389299314, 'DEST_ABE'),
 (0.0005300027527961601, 'ORIGIN_HPN'),
 (0.0005290372954638394, 'DEST_CLD'),
 (0.0005237612253146872, 'DEST_PHL'),
 (0.0005213949218991419, 'DEST_CMH'),
 (0.0005176498283336244, 'ORIGIN_RDD'),
 (0.000511963277757524, 'DEST_MOD'),
 (0.0005118344117282638, 'DEST_SMX'),
 (0.0005086015500659024, 'DEST_CPR'),
 (0.0005041507266648467, 'DEST_BTM'),
 (0.0005027732716249388, 'DEST_CEC'),
 (0.000502652189408215, 'DEST_CAK'),
 (0.000499953653458104, 'DEST_CWA'),
 (0.0004943506007262678, 'ORIGIN_MBS'),
 (0.000492673525507121, 'ORIGIN_EKO'),
 (0.0004922840598095587, 'ORIGIN_FWA'),
 (0.0004875049111702145, 'ORIGIN_TWF'),
 (0.00048484301280075025, 'ORIGIN_PNS'),
 (0.000482320035092093, 'ORIGIN_CPR'),
 (0.0004793013456415781, 'ORIGIN_DAY'),
 (0.00047791145095442704, 'DEST_PIH'),
 (0.00047330903849353897, 'DEST_LWS'),
 (0.0004730213773274599, 'ORIGIN_CWA'),
 (0.00047016899530465844, 'ORIGIN_OXR'),
 (0.00046316448347112025, 'DEST_SYR'),
 (0.0004622810751652902, 'ORIGIN_COD'),
 (0.00046162775263056057, 'DEST_LAN'),
 (0.00045797600131087705, 'ORIGIN_CIC'),
 (0.00045091052414784227, 'ORIGIN_HSV'),
 (0.00044993172270075513, 'DEST_TWF'),
 (0.00044965524381895865, 'DEST_TVC'),
 (0.0004466170492048695, 'DEST_CDC'),
 (0.00043855289640899774, 'ORIGIN_ABE'),
 (0.00043787479835341353, 'ORIGIN_FNT'),
 (0.00043772864474404843, 'ORIGIN_MOD'),
 (0.0004355752668985614, 'ORIGIN_BTM'),
 (0.0004354246819449796, 'ORIGIN_CAK'),
 (0.00043483902633703337, 'ORIGIN_EWR'),
 (0.0004335077228438906, 'ORIGIN_HOU'),
 (0.00043056217172868444, 'DEST_EKO'),
 (0.0004263948918362909, 'DEST_FWA'),
 (0.00042285309137211885, 'DEST_RDD'),
 (0.0004224866022331218, 'DEST_AVP'),
 (0.00041929396779294474, 'ORIGIN_SYR'),
 (0.00041534831814063727, 'DEST_HPN'),
 (0.00041393779256674077, 'DEST_EWR'),
 (0.00041195872976025535, 'ORIGIN_LGB'),
 (0.00040983071127405796, 'ORIGIN_PHL'),
 (0.00040590664705424757, 'DEST_ELP'),
 (0.00039195458398536665, 'ORIGIN_CDC'),
 (0.0003902106875247584, 'ORIGIN_TVC'),
 (0.00038827958232573055, 'DEST_FNT'),
 (0.000385968700025023, 'DEST_PNS'),
 (0.0003850577745542175, 'DEST_GCC'),
 (0.0003704896203312727, 'ORIGIN_SMX'),
 (0.0003575123913935609, 'DEST_SUN'),
 (0.00034573080920151616, 'DEST_MSY'),
 (0.000343722310623889, 'ORIGIN_YUM'),
 (0.0003415058462097521, 'DEST_YUM'),
 (0.000336973856792226, 'ORIGIN_SUN'),
 (0.0003181064777568655, 'ORIGIN_MOB'),
 (0.00031571161638132737, 'ORIGIN_MSY'),
 (0.00031500134843950173, 'DEST_MOB'),
 (0.0003102097293667163, 'DEST_IYK'),
 (0.0002907494288944631, 'DEST_GSP'),
 (0.00028222318522065187, 'ORIGIN_GSP'),
 (0.0002708612603915503, 'ORIGIN_IPL'),
 (0.0002636938767313753, 'ORIGIN_TLH'),
 (0.00025764889786098464, 'DEST_OXR'),
 (0.000238909617922142, 'DEST_IPL'),
 (0.0002209072781668144, 'DEST_TLH'),
 (0.0001735091636428943, 'ORIGIN_SAV'),
 (0.000130098241237973, 'DEST_SAV'),
 (0.00011753793088394384, 'ORIGIN_ROA'),
 (5.988706178049822e-05, 'DEST_VPS'),
 (5.905945437819165e-05, 'DEST_ROA'),
 (5.348429255639742e-05, 'ORIGIN_VPS'),
 (5.29693198780549e-05, 'ORIGIN_SPI'),
 (3.139028007433603e-05, 'ORIGIN_RDU'),
 (2.988213321102853e-05, 'DEST_SPI'),
 (2.5228961545136603e-05, 'ORIGIN_MDT'),
 (1.5316957937313844e-05, 'DEST_RDU'),
 (0.0, 'OP_CARRIER_OO')]