In [1]:
import pandas as pd

In [2]:
nine_df = pd.read_csv('2009.csv')

In [3]:
nine_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,01-01-09,XE,1204,DCA,EWR,1100,1058.0,-2.0,18.0,1116.0,...,62,68.0,42.0,199,NaN,NaN,NaN,NaN,NaN,NaN
1,01-01-09,XE,1206,EWR,IAD,1510,1509.0,-1.0,28.0,1537.0,...,82,75.0,43.0,213,NaN,NaN,NaN,NaN,NaN,NaN
2,01-01-09,XE,1207,EWR,DCA,1100,1059.0,-1.0,20.0,1119.0,...,70,62.0,36.0,199,NaN,NaN,NaN,NaN,NaN,NaN
3,01-01-09,XE,1208,DCA,EWR,1240,1249.0,9.0,10.0,1259.0,...,77,56.0,37.0,199,NaN,NaN,NaN,NaN,NaN,NaN
4,01-01-09,XE,1209,IAD,EWR,1715,1705.0,-10.0,24.0,1729.0,...,105,77.0,40.0,213,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
carriers_list = []
for carrier in nine_df['OP_CARRIER']:
    if carrier not in carriers_list:
        carriers_list.append(carrier)
        
print(carriers_list)

['XE', 'YV', 'NW', 'OH', 'OO', 'UA', 'US', 'WN', 'EV', 'F9', 'FL', 'HA', 'MQ', '9E', 'AA', 'AS', 'B6', 'CO', 'DL']

In [5]:
# Drop Columns
nine_dropped_df = nine_df[['FL_DATE',
                           'OP_CARRIER',
                           'OP_CARRIER_FL_NUM',
                           'ORIGIN',
                           'DEST',
                           'CRS_DEP_TIME',
                           'DEP_TIME', 
                           'CRS_ARR_TIME',
                           'ARR_TIME', 
                           'ARR_DELAY', 
                           'CANCELLED',
                           'CRS_ELAPSED_TIME']]

In [6]:
oo_df = nine_dropped_df.loc[nine_dropped_df['OP_CARRIER'] == 'OO']
oo_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CRS_ELAPSED_TIME
1810,01-01-09,OO,2554,MKE,PHL,1040,1032.0,1340,1320.0,-20.0,0,120
1811,01-01-09,OO,2555,PHL,MKE,1405,1355.0,1530,1525.0,-5.0,0,145
1812,01-01-09,OO,2556,MKE,PHL,1555,1554.0,1900,1843.0,-17.0,0,125
1813,01-01-09,OO,2582,PHL,MKE,1105,1105.0,1230,1224.0,-6.0,0,145
1814,01-01-09,OO,2620,MKE,MSN,1335,1345.0,1412,1419.0,7.0,0,37

In [7]:
oo_df.isna().sum()

FL_DATE                 0
OP_CARRIER              0
OP_CARRIER_FL_NUM       0
ORIGIN                  0
DEST                    0
CRS_DEP_TIME            0
DEP_TIME             1981
CRS_ARR_TIME            0
ARR_TIME             2327
ARR_DELAY            2492
CANCELLED               0
CRS_ELAPSED_TIME        0
dtype: int64

In [8]:
oo_df.dropna(inplace=True)

C:\Users\Jugvir Pabla\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
#oo_df
#pandas.Timestamp.dayofweek
import datetime
oo_df['WEEKDAY'] = oo_df['FL_DATE'].apply(lambda x: datetime.datetime.strptime(x, "%d-%m-%y").weekday())

C:\Users\Jugvir Pabla\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
oo_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CRS_ELAPSED_TIME,WEEKDAY
1810,01-01-09,OO,2554,MKE,PHL,1040,1032.0,1340,1320.0,-20.0,0,120,3
1811,01-01-09,OO,2555,PHL,MKE,1405,1355.0,1530,1525.0,-5.0,0,145,3
1812,01-01-09,OO,2556,MKE,PHL,1555,1554.0,1900,1843.0,-17.0,0,125,3
1813,01-01-09,OO,2582,PHL,MKE,1105,1105.0,1230,1224.0,-6.0,0,145,3
1814,01-01-09,OO,2620,MKE,MSN,1335,1345.0,1412,1419.0,7.0,0,37,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045598,02-03-09,OO,7814,RKS,SLC,1202,1152.0,1307,1305.0,-2.0,0,65,0
1045599,02-03-09,OO,7814,SLC,RKS,1050,1048.0,1147,1139.0,-8.0,0,57,0
1045600,02-03-09,OO,7815,RKS,GCC,2035,2025.0,2145,2129.0,-16.0,0,70,0
1045601,02-03-09,OO,7815,SLC,RKS,1920,1917.0,2017,2009.0,-8.0,0,57,0
1045602,02-03-09,OO,7816,EKO,SLC,525,519.0,730,718.0,-12.0,0,65,0

In [84]:
oo_df.loc[oo_df['ARR_DELAY'] > 0, 'flight_status'] = 'Delayed'
oo_df.loc[oo_df['ARR_DELAY'] == 0, 'flight_status'] = 'On Time'
oo_df.loc[oo_df['ARR_DELAY'] < 0, 'flight_status'] = 'Early'

C:\Users\Jugvir Pabla\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [85]:
### oo_df.drop(['ARR_DELAY'], axis=1, inplace=True)

In [86]:
oo_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CRS_ELAPSED_TIME,WEEKDAY,flight_status,Weekday
1810,01-01-09,OO,2554,MKE,PHL,1040,1032.0,1340,1320.0,-20.0,0,120,3,Early,Thursday
1811,01-01-09,OO,2555,PHL,MKE,1405,1355.0,1530,1525.0,-5.0,0,145,3,Early,Thursday
1812,01-01-09,OO,2556,MKE,PHL,1555,1554.0,1900,1843.0,-17.0,0,125,3,Early,Thursday
1813,01-01-09,OO,2582,PHL,MKE,1105,1105.0,1230,1224.0,-6.0,0,145,3,Early,Thursday
1814,01-01-09,OO,2620,MKE,MSN,1335,1345.0,1412,1419.0,7.0,0,37,3,Delayed,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045598,02-03-09,OO,7814,RKS,SLC,1202,1152.0,1307,1305.0,-2.0,0,65,0,Early,Monday
1045599,02-03-09,OO,7814,SLC,RKS,1050,1048.0,1147,1139.0,-8.0,0,57,0,Early,Monday
1045600,02-03-09,OO,7815,RKS,GCC,2035,2025.0,2145,2129.0,-16.0,0,70,0,Early,Monday
1045601,02-03-09,OO,7815,SLC,RKS,1920,1917.0,2017,2009.0,-8.0,0,57,0,Early,Monday
1045602,02-03-09,OO,7816,EKO,SLC,525,519.0,730,718.0,-12.0,0,65,0,Early,Monday

In [87]:
# Converting weekday numbers
oo_df.loc[oo_df['WEEKDAY'] == 0, 'Weekday'] = 'Monday'
oo_df.loc[oo_df['WEEKDAY'] == 1, 'Weekday'] = 'Tuesday'
oo_df.loc[oo_df['WEEKDAY'] == 2, 'Weekday'] = 'Wednesday'
oo_df.loc[oo_df['WEEKDAY'] == 3, 'Weekday'] = 'Thursday'
oo_df.loc[oo_df['WEEKDAY'] == 4, 'Weekday'] = 'Friday'
oo_df.loc[oo_df['WEEKDAY'] == 5, 'Weekday'] = 'Saturday'
oo_df.loc[oo_df['WEEKDAY'] == 6, 'Weekday'] = 'Sunday'

C:\Users\Jugvir Pabla\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [88]:
oo_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CRS_ELAPSED_TIME,WEEKDAY,flight_status,Weekday
1810,01-01-09,OO,2554,MKE,PHL,1040,1032.0,1340,1320.0,-20.0,0,120,3,Early,Thursday
1811,01-01-09,OO,2555,PHL,MKE,1405,1355.0,1530,1525.0,-5.0,0,145,3,Early,Thursday
1812,01-01-09,OO,2556,MKE,PHL,1555,1554.0,1900,1843.0,-17.0,0,125,3,Early,Thursday
1813,01-01-09,OO,2582,PHL,MKE,1105,1105.0,1230,1224.0,-6.0,0,145,3,Early,Thursday
1814,01-01-09,OO,2620,MKE,MSN,1335,1345.0,1412,1419.0,7.0,0,37,3,Delayed,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045598,02-03-09,OO,7814,RKS,SLC,1202,1152.0,1307,1305.0,-2.0,0,65,0,Early,Monday
1045599,02-03-09,OO,7814,SLC,RKS,1050,1048.0,1147,1139.0,-8.0,0,57,0,Early,Monday
1045600,02-03-09,OO,7815,RKS,GCC,2035,2025.0,2145,2129.0,-16.0,0,70,0,Early,Monday
1045601,02-03-09,OO,7815,SLC,RKS,1920,1917.0,2017,2009.0,-8.0,0,57,0,Early,Monday
1045602,02-03-09,OO,7816,EKO,SLC,525,519.0,730,718.0,-12.0,0,65,0,Early,Monday

In [143]:
# Drop Columns
oo_df_ii = oo_df[['FL_DATE',
                           'OP_CARRIER',
                           'OP_CARRIER_FL_NUM',
                           'ORIGIN',
                           'DEST',
                           'CRS_DEP_TIME',
                           'DEP_TIME', 
                           'CRS_ARR_TIME',
                           'ARR_TIME', 
                           'ARR_DELAY', 
                           'CANCELLED',
                  'flight_status',
                 'Weekday',]]

In [144]:
oo_df_ii.head(15)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,flight_status,Weekday
1810,01-01-09,OO,2554,MKE,PHL,1040,1032.0,1340,1320.0,-20.0,0,Early,Thursday
1811,01-01-09,OO,2555,PHL,MKE,1405,1355.0,1530,1525.0,-5.0,0,Early,Thursday
1812,01-01-09,OO,2556,MKE,PHL,1555,1554.0,1900,1843.0,-17.0,0,Early,Thursday
1813,01-01-09,OO,2582,PHL,MKE,1105,1105.0,1230,1224.0,-6.0,0,Early,Thursday
1814,01-01-09,OO,2620,MKE,MSN,1335,1345.0,1412,1419.0,7.0,0,Delayed,Thursday
1815,01-01-09,OO,2621,MSN,MKE,1437,1432.0,1515,1510.0,-5.0,0,Early,Thursday
1816,01-01-09,OO,2625,MKE,MSN,1605,1600.0,1643,1643.0,0.0,0,On Time,Thursday
1817,01-01-09,OO,2638,MKE,GRR,1333,1332.0,1515,1515.0,0.0,0,On Time,Thursday
1818,01-01-09,OO,2639,GRR,MKE,1317,1308.0,1300,1253.0,-7.0,0,Early,Thursday
1819,01-01-09,OO,2640,MKE,GRR,1550,1547.0,1735,1728.0,-7.0,0,Early,Thursday
1820,01-01-09,OO,2641,GRR,MKE,1540,1535.0,1525,1515.0,-10.0,0,Early,Thursday
1821,01-01-09,OO,2669,MKE,BNA,1320,1323.0,1453,1450.0,-3.0,0,Early,Thursday
1822,01-01-09,OO,2670,BNA,MKE,1518,1513.0,1651,1652.0,1.0,0,Delayed,Thursday
1823,01-01-09,OO,2676,OMA,MKE,1055,1055.0,1215,1222.0,7.0,0,Delayed,Thursday
1824,01-01-09,OO,2677,MKE,OMA,1555,1602.0,1720,1731.0,11.0,0,Delayed,Thursday

In [145]:
oo_df_ii.loc[oo_df_ii['CANCELLED'] == 1, 'cancelled'] = 'Yes'
oo_df_ii.loc[oo_df_ii['CANCELLED'] == 0, 'cancelled'] = 'No'
oo_df_ii.head(5)

C:\Users\Jugvir Pabla\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Jugvir Pabla\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,flight_status,Weekday,cancelled
1810,01-01-09,OO,2554,MKE,PHL,1040,1032.0,1340,1320.0,-20.0,0,Early,Thursday,No
1811,01-01-09,OO,2555,PHL,MKE,1405,1355.0,1530,1525.0,-5.0,0,Early,Thursday,No
1812,01-01-09,OO,2556,MKE,PHL,1555,1554.0,1900,1843.0,-17.0,0,Early,Thursday,No
1813,01-01-09,OO,2582,PHL,MKE,1105,1105.0,1230,1224.0,-6.0,0,Early,Thursday,No
1814,01-01-09,OO,2620,MKE,MSN,1335,1345.0,1412,1419.0,7.0,0,Delayed,Thursday,No

In [190]:
# Drop Columns
oo_df_iii = oo_df_ii[['FL_DATE',
                           'OP_CARRIER',
                           'OP_CARRIER_FL_NUM',
                           'ORIGIN',
                           'DEST',
                           'CRS_DEP_TIME',
                           'DEP_TIME', 
                           'CRS_ARR_TIME',
                           'ARR_TIME', 
                           'ARR_DELAY', 
                  'flight_status',
                 'Weekday',
                 'cancelled']]
oo_df_iii.head(5)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,flight_status,Weekday,cancelled
1810,01-01-09,OO,2554,MKE,PHL,1040,1032.0,1340,1320.0,-20.0,Early,Thursday,No
1811,01-01-09,OO,2555,PHL,MKE,1405,1355.0,1530,1525.0,-5.0,Early,Thursday,No
1812,01-01-09,OO,2556,MKE,PHL,1555,1554.0,1900,1843.0,-17.0,Early,Thursday,No
1813,01-01-09,OO,2582,PHL,MKE,1105,1105.0,1230,1224.0,-6.0,Early,Thursday,No
1814,01-01-09,OO,2620,MKE,MSN,1335,1345.0,1412,1419.0,7.0,Delayed,Thursday,No

In [191]:
airport_origin_list = []
for airport in oo_df_ii['ORIGIN']:
    if airport not in airport_origin_list:
        airport_origin_list.append(airport)
        
print(airport_origin_list)

['MKE', 'PHL', 'MSN', 'GRR', 'BNA', 'OMA', 'IND', 'FNT', 'ATW', 'DSM', 'MSP', 'CLE', 'GRB', 'CMH', 'EWR', 'ORD', 'BOI', 'SLC', 'HLN', 'SAT', 'BZN', 'COS', 'CPR', 'DEN', 'IDA', 'DFW', 'FCA', 'GEG', 'GJT', 'GTF', 'IAH', 'JAC', 'TUL', 'MCI', 'MSO', 'ATL', 'RAP', 'CVG', 'RNO', 'DTW', 'PHX', 'BIL', 'ABQ', 'ORF', 'ASE', 'PDX', 'STL', 'TUS', 'ACV', 'COD', 'BUR', 'EUG', 'LAS', 'VPS', 'LAX', 'GUC', 'LGB', 'MFR', 'OAK', 'OKC', 'ONT', 'PSC', 'PSP', 'SEA', 'SFO', 'BTM', 'SBA', 'FAT', 'MTJ', 'RDM', 'SAN', 'SMF', 'HDN', 'AUS', 'SNA', 'LWS', 'SJC', 'SBP', 'BFL', 'IYK', 'MRY', 'SMX', 'OXR', 'RDD', 'CEC', 'SGU', 'MOD', 'OTH', 'YUM', 'CLD', 'LMT', 'CIC', 'IPL', 'FSD', 'LNK', 'FWA', 'ELP', 'SBN', 'PIT', 'BIS', 'FAR', 'XNA', 'AVP', 'ICT', 'TVC', 'CAK', 'ABE', 'CWA', 'SDF', 'MLI', 'TYS', 'MEM', 'LEX', 'DRO', 'PIA', 'LAN', 'MBS', 'SYR', 'SGF', 'BHM', 'HPN', 'LIT', 'CID', 'SAV', 'CRW', 'HSV', 'CDC', 'EKO', 'PIH', 'SUN', 'TWF', 'GCC', 'RKS', 'DAY', 'PNS', 'CHS', 'TLH', 'SPI', 'HOU', 'MSY', 'MDT', 'ROA', 'GSP', 'MOB', 'RDU']

In [192]:
airport_dest_list = []
for airport in oo_df_ii['DEST']:
    if airport not in airport_dest_list:
        airport_dest_list.append(airport)
        
print(airport_dest_list)

['PHL', 'MKE', 'MSN', 'GRR', 'BNA', 'OMA', 'IND', 'FNT', 'ATW', 'DSM', 'CLE', 'GRB', 'CMH', 'MSP', 'EWR', 'ATL', 'SLC', 'OKC', 'DEN', 'LWS', 'MCI', 'DFW', 'FCA', 'IDA', 'GEG', 'GJT', 'GTF', 'HLN', 'IAH', 'SAN', 'ASE', 'SAT', 'JAC', 'BOI', 'MSO', 'ABQ', 'AUS', 'ORF', 'COD', 'CPR', 'PHX', 'RAP', 'BIL', 'BZN', 'VPS', 'HDN', 'STL', 'ORD', 'CVG', 'BUR', 'EUG', 'DTW', 'LAS', 'ACV', 'LAX', 'TUS', 'MTJ', 'GUC', 'LGB', 'PSC', 'MFR', 'OAK', 'PDX', 'ONT', 'COS', 'PSP', 'SMF', 'RNO', 'SBA', 'SEA', 'FAT', 'SFO', 'TUL', 'RDM', 'SNA', 'BTM', 'SJC', 'IYK', 'MRY', 'SMX', 'SBP', 'OXR', 'BFL', 'RDD', 'SGU', 'MOD', 'YUM', 'OTH', 'CIC', 'CLD', 'LMT', 'IPL', 'CEC', 'FWA', 'SBN', 'PIT', 'BIS', 'XNA', 'PIA', 'LNK', 'AVP', 'TVC', 'ICT', 'ABE', 'CRW', 'CWA', 'FAR', 'DRO', 'LEX', 'MBS', 'SYR', 'SDF', 'CAK', 'HPN', 'FSD', 'MEM', 'LIT', 'BHM', 'LAN', 'SAV', 'SGF', 'TYS', 'MLI', 'HSV', 'CID', 'ELP', 'CDC', 'EKO', 'PIH', 'SUN', 'TWF', 'GCC', 'RKS', 'DAY', 'PNS', 'CHS', 'TLH', 'SPI', 'HOU', 'MSY', 'ROA', 'MOB', 'GSP', 'RDU']

In [193]:
# Origin Aiport 
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MKE', 'Origin Airport'] = 'General Mitchell International Airport, Milwaukee (MKL)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'PHL', 'Origin Airport'] = 'Philadelphia International Airport (PHL)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MSN', 'Origin Airport'] = 'Dane County Regional Airport, Madison (MSN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'GRR', 'Origin Airport'] = 'Gerald R. Ford International Airport, Grand Rapids (GRR)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'BNA', 'Origin Airport'] = 'Nashville International Airport (BNA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'OMA', 'Origin Airport'] = 'Eppley Airfield, Omaha (OMA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'IND', 'Origin Airport'] = 'Indianapolis International Airport (IND)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'FNT', 'Origin Airport'] = 'Bishop International Airport, Flint, (FNT)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ATW', 'Origin Airport'] = 'Appleton International Airport (ATW)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'DSM', 'Origin Airport'] = 'Des Moines International Airport (DSM)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MSP', 'Origin Airport'] = 'Minneapolisâˆ’Saint Paul International Airport (MSP)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CLE', 'Origin Airport'] = 'Cleveland Hopkins International Airport (CLE)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'GRB', 'Origin Airport'] = 'Green Bay Austin Straubel International Airport (GRB)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CMH', 'Origin Airport'] = 'John Glenn Columbus International Airport (CMH)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'EWR', 'Origin Airport'] = 'Newark Liberty International Airport (EWR)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ATL', 'Origin Airport'] = 'Hartsfield-Jackson Atlanta International Airport (ATL)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'BOI', 'Origin Airport'] = 'Boise Airport (BOI)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SLC', 'Origin Airport'] = 'Salt Lake City International Airport (SLC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'OKC', 'Origin Airport'] = 'Will Rogers World Airport, Oklahoma City (OKC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'DEN', 'Origin Airport'] = 'Denver International Airport (DEN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'LWS', 'Origin Airport'] = 'Lewiston-Nez Perce County Regional Airport (LWS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MCI', 'Origin Airport'] = 'Kansas City International Airport (MCI)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'DFW', 'Origin Airport'] = 'Dallas/Fort Worth International Airport (DFW)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'FCA', 'Origin Airport'] = 'Glacier Park International Airport (FCA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'IDA', 'Origin Airport'] = 'Idaho Falls Regional Airport (IDA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'GEG', 'Origin Airport'] = 'Spokane International Airport (GEG)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'GJT', 'Origin Airport'] = 'Grand Junction Regional Airport (GJT)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'GTF', 'Origin Airport'] = 'Great Falls International Airport (GTF)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'HLN', 'Origin Airport'] = 'Helena Regional Airport (HLN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'IAH', 'Origin Airport'] = 'George Bush Intercontinental Airport, Houston (IAH)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SAN', 'Origin Airport'] = 'San Diego International Airport (SAN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ASE', 'Origin Airport'] = 'Aspen Pitkin County Airport (ASE)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SAT', 'Origin Airport'] = 'San Antonio International Airport (SAT)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'JAC', 'Origin Airport'] = 'Jackson Hole Airport (JAC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MSO', 'Origin Airport'] = 'Missoula International Airport (MSO)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ABQ', 'Origin Airport'] = 'Albuquerque International Sunport (ABQ)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'AUS', 'Origin Airport'] = 'Austin-Bergstrom International Airport (AUS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ORF', 'Origin Airport'] = 'Norfolk International Airport (ORF)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'COD', 'Origin Airport'] = 'Yellowstone Regional Airport, Cody (COD)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CPR', 'Origin Airport'] = 'Casper/Natrona County International Airport (CRP)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'PHX', 'Origin Airport'] = 'Phoenix Sky Harbor International Airport (PHX)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'RAP', 'Origin Airport'] = 'Rapid City Regional Airport (RAP)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'BIL', 'Origin Airport'] = 'Billings Logan International Airport (BIL)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'BZN', 'Origin Airport'] = 'Bozeman Yellowstone International Airport, Belgrade (BZN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'VPS', 'Origin Airport'] = 'Destin-Fort Walton Beach Airport (VPS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'HDN', 'Origin Airport'] = 'Yampa Valley Regional Airport, Hayden (HDN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'STL', 'Origin Airport'] = 'St. Louis Lambert International Airport (STL)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ORD', 'Origin Airport'] = 'O Hare International Airport, Chicago (ORD)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CVG', 'Origin Airport'] = 'Cincinnati/Northern Kentucky International Airport (CVG)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'BUR', 'Origin Airport'] = 'Hollywood Burbank Airport (BUR)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'EUG', 'Origin Airport'] = 'Eugene Airport (EUG)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'DTW', 'Origin Airport'] = 'Detroit Metropolitan Wayne County Airport (DTW)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'LAS', 'Origin Airport'] = 'McCarran International Airport, Las Vegas (LAS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ACV', 'Origin Airport'] = 'California Redwood Coast-Humboldt County Airport, McKinleyville (ACV) '
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'LAX', 'Origin Airport'] = 'Los Angeles International Airport (LAX)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'TUS', 'Origin Airport'] = 'Tucson International Airport (TUS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MTJ', 'Origin Airport'] = 'Montrose Regional Airport (MTJ)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'GUC', 'Origin Airport'] = 'Gunnison-Crested Butte Regional Airport (GUC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'LGB', 'Origin Airport'] = 'Long Beach Airport (LGB)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'PSC', 'Origin Airport'] = 'Tri-Cities Airport, Pasco (PSC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MFR', 'Origin Airport'] = 'Rogue Valley International-Medford Airport (MFR)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'OAK', 'Origin Airport'] = 'Oakland International Airport (OAK)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'PDX', 'Origin Airport'] = 'Portland International Airport (PDX)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ONT', 'Origin Airport'] = 'Ontario International Airport (ONT)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'COS', 'Origin Airport'] = 'Colorado Springs Airport (COS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'PSP', 'Origin Airport'] = 'Palm Springs International Airport (PSP)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SMF', 'Origin Airport'] = 'Sacramento International Airport (SMF)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'RNO', 'Origin Airport'] = 'Reno-Tahoe International Airport (RNO)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SBA', 'Origin Airport'] = 'Santa Barbara Airport (SBA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SEA', 'Origin Airport'] = 'Seattle Tacoma International Airport (SEA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'FAT', 'Origin Airport'] = 'Fresno Yosemite International Airport (FAT)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SFO', 'Origin Airport'] = 'San Francisco International Airport (SFO)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'TUL', 'Origin Airport'] = 'Tulsa International Airport (TUL)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'RDM', 'Origin Airport'] = 'Redmond Municipal Airport (RDM)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SNA', 'Origin Airport'] = 'John Wayne Airport, Santa Ana (SNA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'BTM', 'Origin Airport'] = 'Bert Mooney Airport, Butte (BTM)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SJC', 'Origin Airport'] = 'Norman Y. Mineta San Jose International Airport (SJC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'IYK', 'Origin Airport'] = 'Inyokern Airport (IYK)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MRY', 'Origin Airport'] = 'Monterey Regional Airport (MRY)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SMX', 'Origin Airport'] = 'Santa Maria Public Airport District (SMX)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SBP', 'Origin Airport'] = 'San Luis Obispo County Regional Airport (SBP)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'OXR', 'Origin Airport'] = 'Oxnard Airport (OXR)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'BFL', 'Origin Airport'] = 'Meadows Field Airport, Bakersfield (BFL)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'RDD', 'Origin Airport'] = 'Redding Airport (RDD)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SGU', 'Origin Airport'] = 'St. George Regional Airport (GGU)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MOD', 'Origin Airport'] = 'Modesto Cityâ€“County Airport (MOD)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'YUM', 'Origin Airport'] = 'Yuma International Airport (YUM)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'OTH', 'Origin Airport'] = 'Southwest Oregon Regional Airport, North Bend (OTH)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CIC', 'Origin Airport'] = 'Chico Municipal Airport (CIC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CLD', 'Origin Airport'] = 'Mc Clellan Palomar Airport, Carlsbad (CLD)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'LMT', 'Origin Airport'] = 'Crater Lake - Klamath Regional Airport, Klamath Falls (LMT)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'IPL', 'Origin Airport'] = 'Imperial County Airport (IPL)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CEC', 'Origin Airport'] = 'Del Norte County Regional Airport, Crescent City (CEC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'FWA', 'Origin Airport'] = 'Fort Wayne International Airport (FWA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SBN', 'Origin Airport'] = 'South Bend International Airport (SBN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'PIT', 'Origin Airport'] = 'Pittsburgh International Airport (PIT)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'BIS', 'Origin Airport'] = 'Bismarck Airport (BIS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'XNA', 'Origin Airport'] = 'Northwest Arkansas Regional Airport, Bentonville (XNA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'PIA', 'Origin Airport'] = 'General Wayne A. Downing Peoria International Airport (PIA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'LNK', 'Origin Airport'] = 'Lincoln Airport (LNK)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'AVP', 'Origin Airport'] = 'Wilkes-Barre Scranton International Airport, Avoca (AVP)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'TVC', 'Origin Airport'] = 'Cherry Capital Airport, Traverse City (TVC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ICT', 'Origin Airport'] = 'Wichita Dwight D. Eisenhower National Airport (ICT)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ABE', 'Origin Airport'] = 'Lehigh Valley International Airport, Allentown (ABE)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CRW', 'Origin Airport'] = 'Yeager Airport, Charleston (CRW)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CWA', 'Origin Airport'] = 'Central Wisconsin Airport, Mosinee (CWA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'FAR', 'Origin Airport'] = 'Hector International Airport, Fargo (FAR)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'DRO', 'Origin Airport'] = 'Durango-La Plata County Airport (DRO)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'LEX', 'Origin Airport'] = 'Blue Grass Airport, Lexington (LEX)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MBS', 'Origin Airport'] = 'MBS International Airport, Freeland (MBS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SYR', 'Origin Airport'] = 'Syracuse Hancock International Airport (SYR)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SDF', 'Origin Airport'] = 'Louisville International Airport (SDF)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CAK', 'Origin Airport'] = 'Akron-Canton Airport (CAK)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'HPN', 'Origin Airport'] = 'Westchester County Airport (HPN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'FSD', 'Origin Airport'] = 'Sioux Falls Regional Airport (FSD)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MEM', 'Origin Airport'] = 'Memphis International Airport (MEM)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'LIT', 'Origin Airport'] = 'Bill and Hillary Clinton National Airport, Little Rock (LIT)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'BHM', 'Origin Airport'] = 'Birmingham-Shuttlesworth International Airport (BHM)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'LAN', 'Origin Airport'] = 'Capital Region International Airport, Lansing (LAN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SAV', 'Origin Airport'] = 'Savannah/Hilton Head International Airport (SAV)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SGF', 'Origin Airport'] = 'Springfield-Branson National Airport (SGF)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'TYS', 'Origin Airport'] = 'McGhee Tyson Airport, Alcoa (TYS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MLI', 'Origin Airport'] = 'Quad City International Airport, Moline (MLI)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'HSV', 'Origin Airport'] = 'Huntsville International Airport HSV)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CID', 'Origin Airport'] = 'The Eastern Iowa Airport (CID)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ELP', 'Origin Airport'] = 'El Paso International Airport (ELP)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CDC', 'Origin Airport'] = 'Cedar City Regional Airport (CDC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'EKO', 'Origin Airport'] = 'Elko Regional Airport (EKO)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'PIH', 'Origin Airport'] = 'Pocatello Regional Airport, (PIH)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SUN', 'Origin Airport'] = 'Friedman Memorial Airport, Hailey (SUN)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'TWF', 'Origin Airport'] = 'Magic Valley Regional Airport, Twin Falls (TWF)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'GCC', 'Origin Airport'] = 'North East Wyoming Regional Airport (GCC)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'RKS', 'Origin Airport'] = 'Southwest Wyoming Regional Airport (RKS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'PNS', 'Origin Airport'] = 'Pensacola International Airport (PNS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'CHS', 'Origin Airport'] = 'Charleston International Airport (CHS)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'TLH', 'Origin Airport'] = 'Tallahassee International Airport (TLH)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'SPI', 'Origin Airport'] = 'Abraham Lincoln Capital Airport, Springield (SPI)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'HOU', 'Origin Airport'] = 'William P. Hobby Airport, Houston (HOU)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MSY', 'Origin Airport'] = 'Louis Armstrong New Orleans International Airport (MSY)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'ROA', 'Origin Airport'] = 'Roanoke-Blacksburg Regional Airport (ROA)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'GSP', 'Origin Airport'] = 'Greenville-Spartanburg International Airport (GSP)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'RDU', 'Origin Airport'] = 'Raleigh-Durham International Airport (RDU)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'MOB', 'Origin Airport'] = 'Mobile Regional Airport (MOB)'
oo_df_iii.loc[oo_df_iii['ORIGIN'] == 'DAY', 'Origin Airport'] = 'Dayton International Airport (DAY)'

In [194]:
# Destination Aiport 
oo_df_iii.loc[oo_df_iii['DEST'] == 'MKE', 'Destination Airport'] = 'General Mitchell International Airport, Milwaukee (MKL)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'PHL', 'Destination Airport'] = 'Philadelphia International Airport (PHL)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MSN', 'Destination Airport'] = 'Dane County Regional Airport, Madison (MSN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'GRR', 'Destination Airport'] = 'Gerald R. Ford International Airport, Grand Rapids (GRR)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'BNA', 'Destination Airport'] = 'Nashville International Airport (BNA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'OMA', 'Destination Airport'] = 'Eppley Airfield, Omaha (OMA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'IND', 'Destination Airport'] = 'Indianapolis International Airport (IND)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'FNT', 'Destination Airport'] = 'Bishop International Airport, Flint, (FNT)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ATW', 'Destination Airport'] = 'Appleton International Airport (ATW)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'DSM', 'Destination Airport'] = 'Des Moines International Airport (DSM)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MSP', 'Destination Airport'] = 'Minneapolisâˆ’Saint Paul International Airport (MSP)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CLE', 'Destination Airport'] = 'Cleveland Hopkins International Airport (CLE)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'GRB', 'Destination Airport'] = 'Green Bay Austin Straubel International Airport (GRB)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CMH', 'Destination Airport'] = 'John Glenn Columbus International Airport (CMH)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'EWR', 'Destination Airport'] = 'Newark Liberty International Airport (EWR)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ATL', 'Destination Airport'] = 'Hartsfield-Jackson Atlanta International Airport (ATL)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'BOI', 'Destination Airport'] = 'Boise Airport (BOI)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SLC', 'Destination Airport'] = 'Salt Lake City International Airport (SLC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'OKC', 'Destination Airport'] = 'Will Rogers World Airport, Oklahoma City (OKC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'DEN', 'Destination Airport'] = 'Denver International Airport (DEN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'LWS', 'Destination Airport'] = 'Lewiston-Nez Perce County Regional Airport (LWS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MCI', 'Destination Airport'] = 'Kansas City International Airport (MCI)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'DFW', 'Destination Airport'] = 'Dallas/Fort Worth International Airport (DFW)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'FCA', 'Destination Airport'] = 'Glacier Park International Airport (FCA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'IDA', 'Destination Airport'] = 'Idaho Falls Regional Airport (IDA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'GEG', 'Destination Airport'] = 'Spokane International Airport (GEG)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'GJT', 'Destination Airport'] = 'Grand Junction Regional Airport (GJT)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'GTF', 'Destination Airport'] = 'Great Falls International Airport (GTF)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'HLN', 'Destination Airport'] = 'Helena Regional Airport (HLN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'IAH', 'Destination Airport'] = 'George Bush Intercontinental Airport, Houston (IAH)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SAN', 'Destination Airport'] = 'San Diego International Airport (SAN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ASE', 'Destination Airport'] = 'Aspen Pitkin County Airport (ASE)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SAT', 'Destination Airport'] = 'San Antonio International Airport (SAT)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'JAC', 'Destination Airport'] = 'Jackson Hole Airport (JAC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MSO', 'Destination Airport'] = 'Missoula International Airport (MSO)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ABQ', 'Destination Airport'] = 'Albuquerque International Sunport (ABQ)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'AUS', 'Destination Airport'] = 'Austin-Bergstrom International Airport (AUS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ORF', 'Destination Airport'] = 'Norfolk International Airport (ORF)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'COD', 'Destination Airport'] = 'Yellowstone Regional Airport, Cody (COD)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CPR', 'Destination Airport'] = 'Casper/Natrona County International Airport (CRP)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'PHX', 'Destination Airport'] = 'Phoenix Sky Harbor International Airport (PHX)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'RAP', 'Destination Airport'] = 'Rapid City Regional Airport (RAP)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'BIL', 'Destination Airport'] = 'Billings Logan International Airport (BIL)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'BZN', 'Destination Airport'] = 'Bozeman Yellowstone International Airport, Belgrade (BZN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'VPS', 'Destination Airport'] = 'Destin-Fort Walton Beach Airport (VPS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'HDN', 'Destination Airport'] = 'Yampa Valley Regional Airport, Hayden (HDN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'STL', 'Destination Airport'] = 'St. Louis Lambert International Airport (STL)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ORD', 'Destination Airport'] = 'O Hare International Airport, Chicago (ORD)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CVG', 'Destination Airport'] = 'Cincinnati/Northern Kentucky International Airport (CVG)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'BUR', 'Destination Airport'] = 'Hollywood Burbank Airport (BUR)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'EUG', 'Destination Airport'] = 'Eugene Airport (EUG)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'DTW', 'Destination Airport'] = 'Detroit Metropolitan Wayne County Airport (DTW)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'LAS', 'Destination Airport'] = 'McCarran International Airport, Las Vegas (LAS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ACV', 'Destination Airport'] = 'California Redwood Coast-Humboldt County Airport, McKinleyville (ACV) '
oo_df_iii.loc[oo_df_iii['DEST'] == 'LAX', 'Destination Airport'] = 'Los Angeles International Airport (LAX)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'TUS', 'Destination Airport'] = 'Tucson International Airport (TUS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MTJ', 'Destination Airport'] = 'Montrose Regional Airport (MTJ)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'GUC', 'Destination Airport'] = 'Gunnisonâ€“Crested Butte Regional Airport (GUC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'LGB', 'Destination Airport'] = 'Long Beach Airport (LGB)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'PSC', 'Destination Airport'] = 'Tri-Cities Airport, Pasco (PSC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MFR', 'Destination Airport'] = 'Rogue Valley International-Medford Airport (MFR)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'OAK', 'Destination Airport'] = 'Oakland International Airport (OAK)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'PDX', 'Destination Airport'] = 'Portland International Airport (PDX)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ONT', 'Destination Airport'] = 'Ontario International Airport (ONT)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'COS', 'Destination Airport'] = 'Colorado Springs Airport (COS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'PSP', 'Destination Airport'] = 'Palm Springs International Airport (PSP)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SMF', 'Destination Airport'] = 'Sacramento International Airport (SMF)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'RNO', 'Destination Airport'] = 'Reno-Tahoe International Airport (RNO)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SBA', 'Destination Airport'] = 'Santa Barbara Airport (SBA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SEA', 'Destination Airport'] = 'Seattle-Tacoma International Airport (SEA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'FAT', 'Destination Airport'] = 'Fresno Yosemite International Airport (FAT)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SFO', 'Destination Airport'] = 'San Francisco International Airport (SFO)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'TUL', 'Destination Airport'] = 'Tulsa International Airport (TUL)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'RDM', 'Destination Airport'] = 'Redmond Municipal Airport (RDM)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SNA', 'Destination Airport'] = 'John Wayne Airport, Santa Ana (SNA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'BTM', 'Destination Airport'] = 'Bert Mooney Airport, Butte (BTM)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SJC', 'Destination Airport'] = 'Norman Y. Mineta San Jose International Airport (SJC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'IYK', 'Destination Airport'] = 'Inyokern Airport (IYK)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MRY', 'Destination Airport'] = 'Monterey Regional Airport (MRY)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SMX', 'Destination Airport'] = 'Santa Maria Public Airport District (SMX)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SBP', 'Destination Airport'] = 'San Luis Obispo County Regional Airport (SBP)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'OXR', 'Destination Airport'] = 'Oxnard Airport (OXR)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'BFL', 'Destination Airport'] = 'Meadows Field Airport, Bakersfield (BFL)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'RDD', 'Destination Airport'] = 'Redding Airport (RDD)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SGU', 'Destination Airport'] = 'St. George Regional Airport (GGU)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MOD', 'Destination Airport'] = 'Modesto Cityâ€“County Airport (MOD)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'YUM', 'Destination Airport'] = 'Yuma International Airport (YUM)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'OTH', 'Destination Airport'] = 'Southwest Oregon Regional Airport, North Bend (OTH)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CIC', 'Destination Airport'] = 'Chico Municipal Airport (CIC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CLD', 'Destination Airport'] = 'Mc Clellan Palomar Airport, Carlsbad (CLD)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'LMT', 'Destination Airport'] = 'Crater Lake - Klamath Regional Airport, Klamath Falls (LMT)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'IPL', 'Destination Airport'] = 'Imperial County Airport (IPL)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CEC', 'Destination Airport'] = 'Del Norte County Regional Airport, Crescent City (CEC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'FWA', 'Destination Airport'] = 'Fort Wayne International Airport (FWA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SBN', 'Destination Airport'] = 'South Bend International Airport (SBN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'PIT', 'Destination Airport'] = 'Pittsburgh International Airport (PIT)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'BIS', 'Destination Airport'] = 'Bismarck Airport (BIS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'XNA', 'Destination Airport'] = 'Northwest Arkansas Regional Airport, Bentonville (XNA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'PIA', 'Destination Airport'] = 'General Wayne A. Downing Peoria International Airport (PIA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'LNK', 'Destination Airport'] = 'Lincoln Airport (LNK)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'AVP', 'Destination Airport'] = 'Wilkes-Barre Scranton International Airport, Avoca (AVP)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'TVC', 'Destination Airport'] = 'Cherry Capital Airport, Traverse City (TVC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ICT', 'Destination Airport'] = 'Wichita Dwight D. Eisenhower National Airport (ICT)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ABE', 'Destination Airport'] = 'Lehigh Valley International Airport, Allentown (ABE)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CRW', 'Destination Airport'] = 'Yeager Airport, Charleston (CRW)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CWA', 'Destination Airport'] = 'Central Wisconsin Airport, Mosinee (CWA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'FAR', 'Destination Airport'] = 'Hector International Airport, Fargo (FAR)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'DRO', 'Destination Airport'] = 'Durango-La Plata County Airport (DRO)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'LEX', 'Destination Airport'] = 'Blue Grass Airport, Lexington (LEX)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MBS', 'Destination Airport'] = 'MBS International Airport, Freeland (MBS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SYR', 'Destination Airport'] = 'Syracuse Hancock International Airport (SYR)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SDF', 'Destination Airport'] = 'Louisville International Airport (SDF)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CAK', 'Destination Airport'] = 'Akron-Canton Airport (CAK)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'HPN', 'Destination Airport'] = 'Westchester County Airport (HPN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'FSD', 'Destination Airport'] = 'Sioux Falls Regional Airport (FSD)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MEM', 'Destination Airport'] = 'Memphis International Airport (MEM)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'LIT', 'Destination Airport'] = 'Bill and Hillary Clinton National Airport, Little Rock (LIT)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'BHM', 'Destination Airport'] = 'Birmingham-Shuttlesworth International Airport (BHM)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'LAN', 'Destination Airport'] = 'Capital Region International Airport, Lansing (LAN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SAV', 'Destination Airport'] = 'Savannah/Hilton Head International Airport (SAV)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SGF', 'Destination Airport'] = 'Springfield-Branson National Airport (SGF)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'TYS', 'Destination Airport'] = 'McGhee Tyson Airport, Alcoa (TYS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MLI', 'Destination Airport'] = 'Quad City International Airport, Moline (MLI)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'HSV', 'Destination Airport'] = 'Huntsville International Airport HSV)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CID', 'Destination Airport'] = 'The Eastern Iowa Airport (CID)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ELP', 'Destination Airport'] = 'El Paso International Airport (ELP)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CDC', 'Destination Airport'] = 'Cedar City Regional Airport (CDC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'EKO', 'Destination Airport'] = 'Elko Regional Airport (EKO)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'PIH', 'Destination Airport'] = 'Pocatello Regional Airport, (PIH)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SUN', 'Destination Airport'] = 'Friedman Memorial Airport, Hailey (SUN)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'TWF', 'Destination Airport'] = 'Magic Valley Regional Airport, Twin Falls (TWF)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'GCC', 'Destination Airport'] = 'North East Wyoming Regional Airport (GCC)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'RKS', 'Destination Airport'] = 'Southwest Wyoming Regional Airport (RKS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'PNS', 'Destination Airport'] = 'Pensacola International Airport (PNS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'CHS', 'Destination Airport'] = 'Charleston International Airport (CHS)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'TLH', 'Destination Airport'] = 'Tallahassee International Airport (TLH)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'SPI', 'Destination Airport'] = 'Abraham Lincoln Capital Airport, Springield (SPI)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'HOU', 'Destination Airport'] = 'William P. Hobby Airport, Houston (HOU)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MSY', 'Destination Airport'] = 'Louis Armstrong New Orleans International Airport (MSY)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'ROA', 'Destination Airport'] = 'Roanoke-Blacksburg Regional Airport (ROA)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'GSP', 'Destination Airport'] = 'Greenville-Spartanburg International Airport (GSP)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'RDU', 'Destination Airport'] = 'Raleigh-Durham International Airport (RDU)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'MOB', 'Destination Airport'] = 'Mobile Regional Airport (MOB)'
oo_df_iii.loc[oo_df_iii['DEST'] == 'DAY', 'Destination Airport'] = 'Dayton International Airport (DAY)'

In [188]:
oo_df_iii

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,flight_status,Weekday,cancelled,Origin Airport,Destination Airport
1810,01-01-09,OO,2554,MKE,PHL,1040,1032.0,1340,1320.0,-20.0,Early,Thursday,No,"General Mitchell International Airport, Milwau...",Philadelphia International Airport (PHL)
1811,01-01-09,OO,2555,PHL,MKE,1405,1355.0,1530,1525.0,-5.0,Early,Thursday,No,Philadelphia International Airport (PHL),"General Mitchell International Airport, Milwau..."
1812,01-01-09,OO,2556,MKE,PHL,1555,1554.0,1900,1843.0,-17.0,Early,Thursday,No,"General Mitchell International Airport, Milwau...",Philadelphia International Airport (PHL)
1813,01-01-09,OO,2582,PHL,MKE,1105,1105.0,1230,1224.0,-6.0,Early,Thursday,No,Philadelphia International Airport (PHL),"General Mitchell International Airport, Milwau..."
1814,01-01-09,OO,2620,MKE,MSN,1335,1345.0,1412,1419.0,7.0,Delayed,Thursday,No,"General Mitchell International Airport, Milwau...","Dane County Regional Airport, Madison (MSN)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045598,02-03-09,OO,7814,RKS,SLC,1202,1152.0,1307,1305.0,-2.0,Early,Monday,No,Southwest Wyoming Regional Airport (RKS),Salt Lake City International Airport (SLC)
1045599,02-03-09,OO,7814,SLC,RKS,1050,1048.0,1147,1139.0,-8.0,Early,Monday,No,Salt Lake City International Airport (SLC),Southwest Wyoming Regional Airport (RKS)
1045600,02-03-09,OO,7815,RKS,GCC,2035,2025.0,2145,2129.0,-16.0,Early,Monday,No,Southwest Wyoming Regional Airport (RKS),North East Wyoming Regional Airport (GCC)
1045601,02-03-09,OO,7815,SLC,RKS,1920,1917.0,2017,2009.0,-8.0,Early,Monday,No,Salt Lake City International Airport (SLC),Southwest Wyoming Regional Airport (RKS)
1045602,02-03-09,OO,7816,EKO,SLC,525,519.0,730,718.0,-12.0,Early,Monday,No,Elko Regional Airport (EKO),Salt Lake City International Airport (SLC)

In [195]:
oo_df_iii.to_csv('SS_cleaned.csv', index=False)

# Second Data Frame

In [24]:
airport_codes = pd.read_csv('airport_codes.csv')

In [25]:
airport_codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,longitude,latitude
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,-74.933601,40.070801
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,-101.473911,38.704022
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,-151.695999,59.949200
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,-86.770302,34.864799
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,-91.254898,35.608700

In [27]:
# Drop Columns
cleaned_ac = airport_codes[['iata_code',
                           'longitude',
                           'latitude']]
cleaned_ac.head()

  iata_code   longitude   latitude
0       NaN  -74.933601  40.070801
1       NaN -101.473911  38.704022
2       NaN -151.695999  59.949200
3       NaN  -86.770302  34.864799
4       NaN  -91.254898  35.608700

In [32]:
# Drop Nans
cleaned_ac.dropna(inplace=True)
cleaned_ac.head(10)

C:\Users\Jugvir Pabla\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     iata_code   longitude   latitude
223        UTK  169.852005  11.222000
441        OCA  -80.274803  25.325399
598        PQS -162.899994  61.934601
677        CSE -106.928341  38.851918
1094       JCY  -98.622498  30.251801
1408       PMX  -72.311401  42.223301
1444       WLR -131.636993  55.601299
1561       NUP -162.440454  60.905591
1580       PTC -133.597000  55.803000
1728       ICY -141.662003  59.969002

In [182]:
cleaned_ac.to_csv('cleaned_airport_codes.csv', index=False)